<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>
<body>
  <%- include ('partials/nav.ejs') %>

  <div class="message-board">
    <% if (allMessages.length > 0) {%>
       <% allMessages.forEach((message) => { %>
        <div class="message-wrap">
          <div class="message-username">
            <p class="name"><%= message.username %></p>
            <p class="date"><em><%= message.created_at %></em></p>
          </div>
          <p class="text"><%= message.content %></p>
        </div>
       <% }) %>
    <% } %>
  </div>
  
  <div class="send-message-container">
    <form action="/" method="POST">
      <label for="message">Message:</label>
      <textarea name="message" id="message"></textarea>
      <button class="send-btn">Send</button>
    </form>
  </div>
</body>
</html>